/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato", sans-serif;
    background-color: black;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.5;
}
img{
    max-width: 100%;
}
/*utilities*/
/*nav*/
nav{
    display: flex;
    justify-content: space-between;/*horizontal*/
    align-items: center;
    background-color: white;
    height: 65px;
}
nav a{
    margin-right: 20px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
nav .logo{
    margin-right: 30px;
    margin-left: 20px;
}
nav a:last-of-type{
    margin-right: 0;
}
.nav-links{
    display: flex;
    align-items: center;
    width: 80%;
}
.nav-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}
.link-subs{
    background-color: #ffcc00;
    padding: 24px 15px;
}
/*main*/
main{
    color:white;
}

section img{
    width:80px;
}